**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/TestResults
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
**/*.nupkg
**/*.snupkg
**/node_modules
**/.env
**/oneshot.db
**/*.db
**/.tools
